/* laptop/desktop 1200px */

@media (min-width: 1200px) and (max-width: 1500px) {}


/* normal desktop */

@media (min-width: 992px) and (max-width: 1200px) {
    .button {
        padding: 17px 20px;
    }
    .counter-container {
        margin-top: -132px;
    }
    h1 {
        font-size: 50px;
        line-height: 80px;
    }
    .left-content p {
        padding-right: 73px;
    }
    .hero-input form {
        width: 82%;
    }
    .single-counter {
        flex-direction: column;
        text-align: center;
    }
    .icon {
        margin-bottom: 10px;
    }
    .counter-data {
        margin-left: 0px;
    }
    .course {
        padding-bottom: 150px;
    }
    .img-data {
        top: 78%;
    }
    .course-metadata {
        text-align: center;
    }
    .slick-prev.pull-left.slick-arrow {
        left: 46%;
    }
    .slick-next.pull-right.slick-arrow {
        left: 51%;
    }
    .abt-img {
        width: 400px;
    }
    .abt-img img {
        width: 100%;
    }
    .section-title h2 {
        font-size: 34px;
        margin-bottom: 39px;
    }
    .abt-bottom {
        margin-top: 40px;
    }
    .filter {
        padding: 90px 0 200px 0;
    }
    .filter-top-shape {
        left: 5%;
    }
    .single-filter-btn {
        padding: 25px 30px;
    }
    .single-filter-btn img {
        margin-bottom: 20px;
    }
    .single-filter-btn span {
        font-size: 14px;
    }
    .position-shape::before {
        height: 25px;
        width: 25px;
        bottom: 23%;
    }
    .testimonial {
        padding: 90px 0 90px 0;
    }
    .testimonial .slick-prev.pull-left.slick-arrow {
        bottom: 37%;
    }
    .testimonial .slick-next.pull-right.slick-arrow {
        left: -42%;
        bottom: 37%;
    }
    .single-testimonial {
        padding: 35px 30px;
    }
    .single-testimonial .author-quote {
        font-family: 'Poppins', sans-serif;
        font-size: 17px
    }
    .instructor {
        padding: 90px 0 90px 0;
    }
    .instructor .slick-prev.pull-left.slick-arrow {
        left: -3%;
    }
    .instructor .slick-next.pull-right.slick-arrow {
        left: 100%;
    }
    .newsletter {
        padding: 90px 0 0 0;
    }
    .form-center {
        padding: 0 70px;
    }
    .blog {
        padding: 90px 0 200px 0;
    }
    .blog-metadata p {
        font-size: 19px;
        margin-bottom: 10px;
    }
    .blog-metadata span:last-child {
        margin-left: 0;
    }
    .footer-left p {
        padding-right: 72px;
    }
    /*-------------------------------------------------------------------------------------
    Course 1 inner page
---------------------------------------------------------------------------------------*/
    .course-inner {
        padding: 80px 0 80px 0;
    }
    .course-input form input {
        width: 65%;
    }
    .course-input form .position-btn {
        right: -19%;
    }
    .second-row ul li {
        margin-right: 0px;
    }
    .course-input form input {
        width: 50%;
    }
    .nice-select {
        right: 18%;
    }
    /*-------------------------------------------------------------------------------------
    Course 2 inner page
---------------------------------------------------------------------------------------*/
    .course-left-search form input {
        padding: 22px 40px;
        border: 2px solid #eaeaea;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 11px;
    }
    .course-left-search .form-search-icon {
        left: 10%;
    }
    .course-left-search .position-btn {
        padding: 17px 11px;
        background: #2878eb;
        display: block;
        text-align: center;
    }
}


/* tablet */

@media (min-width: 768px) and (max-width: 991px) {
    .mean-container .mean-nav {
        margin-top: 0px;
    }
    .mean-container .mean-nav ul .header-cta {
        padding: 0;
        background: transparent;
    }
    .hero {
        padding: 0;
        height: 690px;
    }
    h1 {
        font-size: 50px;
        line-height: 70px;
    }
    .right-content {
        display: none;
    }
    .course {
        padding: 80px 0 150px 0;
        margin-top: 0;
    }
    .second-row ul li {
        margin-right: 17px;
    }
    .course-metadata .first-row span {
        font-size: 18px;
    }
    .first-row li:nth-child(2) {
        margin-left: 13px;
    }
    .slick-prev.pull-left.slick-arrow {
        left: 46%;
    }
    .slick-next.pull-right.slick-arrow {
        left: 52%;
    }
    .abt-img img {
        width: 100%;
    }
    .section-title h2 {
        font-size: 29px;
        margin-bottom: 30px;
    }
    .abt-bottom {
        margin-top: 40px;
    }
    .filter {
        padding: 80px 0 190px 0;
    }
    .filter-top-shape {
        left: 8%;
    }
    .filter-bottom-left-shape {
        margin-top: 90px;
    }
    .testimonial {
        padding: 80px 0 80px 0;
    }
    .testimonial-title {
        text-align: center;
    }
    .testimonial-title h2 {
        margin-top: 0px;
    }
    .testimonial .slick-prev.pull-left.slick-arrow {
        left: -6%;
        bottom: 45%;
    }
    .testimonial .slick-next.pull-right.slick-arrow {
        left: 102%;
        bottom: 43%;
    }
    .instructor {
        padding: 80px 0 80px 0;
    }
    .newsletter {
        padding: 90px 0 0 0;
    }
    .form-center {
        padding: 0 70px;
    }
    .inner-newsletter {
        padding: 50px 0 60px 0;
    }
    .newsletter-heading-white {
        padding: 0 100px 0 100px;
    }
    .left-space {
        padding-left: 20px;
    }
    .newsletter-btn {
        margin-left: 0px;
        display: inline-block;
    }
    .responsive-btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .blog {
        padding: 80px 0 190px 0;
    }
    .footer {
        padding: 80px 0 80px 0;
    }
    .footer-left {
        text-align: center;
    }
    .footer-left p {
        margin-top: 35px;
        padding-right: 0;
    }
    .footer-input form {
        width: 100%;
    }
    .footer-input::before {
        height: 95px;
        width: 105%;
        left: -3%;
        top: -8%;
    }
    .responsive-margin {
        margin-top: 50px;
    }
    .footer-icon {
        text-align: center;
    }
    /*-------------------------------------------------------------------------------------
    Course 1 inner page
---------------------------------------------------------------------------------------*/
    .course-hero {
        padding: 140px 0;
    }
    .course-input form input {
        width: 50%;
    }
    .nice-select {
        right: 18%;
    }
    /*-------------------------------------------------------------------------------------
    Course 2 inner page
---------------------------------------------------------------------------------------*/
    .course-left-search form input {
        padding: 22px 55px;
        border: 2px solid #eaeaea;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 11px;
    }
    .course-left-search .form-search-icon {
        left: 5%;
    }
    .course-left-search .position-btn {
        padding: 17px 11px;
        background: #2878eb;
        display: block;
        text-align: center;
    }
}


/* small mobile */

@media (max-width: 767px) {
    .top-bar .small-screen-alignment {
        display: flex;
        justify-content: center;
    }
    .space-bottom {
        margin-bottom: 20px;
    }
    .mean-container .mean-nav {
        margin-top: 0px;
    }
    .mean-container .mean-nav ul .header-cta {
        padding: 0;
        background: transparent;
    }
    .mean-container a.meanmenu-reveal {
        margin-top: -41px;
    }
    .header {
        padding: 20px 0;
    }
    .site-logo img {
        width: 40%;
    }
    .category-dropdown {
        display: none;
    }
    .hero {
        padding: 0;
        height: 690px;
    }
    h1 {
        font-size: 40px;
        line-height: 55px;
    }
    .hero-input form {
        width: 100%;
    }
    .hero-input form input {
        padding: 14px 41px;
    }
    .hero-input form .position-btn {
        padding: 17px 10px;
    }
    .right-content {
        display: none;
    }
    .counter-container {
        padding: 80px 80px;
    }
    .single-counter {
        padding: 40px 35px;
    }
    .small-margin {
        margin-bottom: 24px;
    }
    .course {
        padding: 80px 0 150px 0;
        margin-top: 0;
    }
    .section-title h2 {
        font-size: 30px;
        margin-bottom: 39px;
    }
    .slick-prev.pull-left.slick-arrow {
        left: 42%;
    }
    .slick-next.pull-right.slick-arrow {
        left: 52%;
    }
    .about {
        padding: 80px 0 80px 0;
    }
    .abt-img img {
        width: 100%;
    }
    .abt-bottom {
        margin-top: 40px;
    }
    .single-abt {
        margin-bottom: 28px;
    }
    .filter {
        padding: 80px 0 190px 0;
    }
    .filter-top-shape {
        left: 9%;
    }
    .filter-bottom-left-shape {
        margin-top: 90px;
    }
    .single-filter-btn {
        margin-bottom: 50px;
    }
    .single-filter-btn img {
        margin-bottom: 18px;
    }
    .single-filter-btn p {
        font-size: 20px;
    }
    .position-shape::before {
        left: 47%;
    }
    .testimonial {
        padding: 80px 0 80px 0;
    }
    .testimonial-title {
        text-align: center;
    }
    .testimonial-title h2 {
        margin-top: 0px;
    }
    .single-testimonial {
        text-align: center;
    }
    .testimonial .slick-prev.pull-left.slick-arrow {
        /* left: -6%;
        bottom: 45%; */
        display: none;
    }
    .testimonial .slick-next.pull-right.slick-arrow {
        /* left: 102%;
        bottom: 43%; */
        display: none;
    }
    .instructor {
        padding: 80px 0 80px 0;
    }
    .instructor .slick-next.pull-right.slick-arrow {
        left: 53%;
        top: 110%;
    }
    .instructor .slick-prev.pull-left.slick-arrow {
        left: 42%;
        top: 110%;
    }
    .newsletter {
        padding: 90px 0 0 0;
    }
    .inner-newsletter {
        padding: 50px 0 60px 0;
        background-size: cover;
    }
    .newsletter-heading-white {
        padding: 0 30px 0 30px;
    }
    .left-space {
        padding-left: 16px;
    }
    .form-center {
        padding: 0 70px;
    }
    .form-center .small-width {
        width: 100%;
        margin-bottom: 20px;
    }
    .newsletter-btn {
        margin-left: 0px;
        display: inline-block;
    }
    .responsive-btn {
        margin-top: 0px;
    }
    .blog {
        padding: 80px 0 190px 0;
    }
    .footer {
        padding: 80px 0 80px 0;
    }
    .footer-left {
        text-align: center;
    }
    .footer-left p {
        margin-top: 35px;
        padding-right: 0;
    }
    .footer-input form {
        height: 75px;
    }
    .footer-input form input {
        margin-top: 11px;
    }
    .footer-input::before {
        height: 95px;
        width: 103%;
        left: -3%;
        top: -8%;
    }
    .responsive-margin {
        margin-top: 50px;
    }
    .footer-icon {
        text-align: center;
    }
    .footer-link h5 {
        margin-bottom: 18px;
    }
    .footer-copyright ul li {
        margin-right: 15px;
    }
    .footer-menu p {
        margin-top: 10px;
    }
    /*-------------------------------------------------------------------------------------
    Course 1 inner page
---------------------------------------------------------------------------------------*/
    .course-hero {
        padding: 100px 0;
    }
    .course-input form input {
        width: 50%;
    }
    .nice-select {
        right: 18%;
    }
    .course-input form .position-btn {
        right: 28%;
        top: 115%;
    }
    .nice-select {
        right: 2%;
        width: 45%;
    }
    .responsive-margin-bottom {
        margin-bottom: 30px;
    }
    .course-input form label {
        padding: 15px 0 15px 8px;
    }
    /*-------------------------------------------------------------------------------------
    Course 2 inner page
---------------------------------------------------------------------------------------*/
    .course-left-search form input {
        padding: 22px 55px;
        border: 2px solid #eaeaea;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 11px;
    }
    .course-left-search .form-search-icon {
        left: 5%;
    }
    .course-left-search .position-btn {
        padding: 17px 11px;
        background: #2878eb;
        display: block;
        text-align: center;
    }
}


/* large mobile */

@media only screen and (min-width: 520px) and (max-width: 767px) {
    .top-bar .small-screen-alignment {
        display: flex;
        justify-content: center;
    }
    .space-bottom {
        margin-bottom: 20px;
    }
    .mean-container .mean-nav {
        margin-top: 0px;
    }
    .mean-container .mean-nav ul .header-cta {
        padding: 0;
        background: transparent;
    }
    .site-logo img {
        width: 100%;
    }
    .hero {
        padding: 0;
        height: 690px;
    }
    h1 {
        font-size: 50px;
        line-height: 70px;
    }
    .right-content {
        display: none;
    }
    .single-counter {
        padding: 40px 35px;
    }
    .counter-container {
        padding: 80px 80px;
    }
    .small-margin {
        margin-bottom: 24px;
    }
    .course {
        padding: 80px 0 150px 0;
        margin-top: 0;
    }
    .section-title h2 {
        font-size: 34px;
        margin-bottom: 39px;
    }
    .slick-prev.pull-left.slick-arrow {
        left: 44%;
    }
    .slick-next.pull-right.slick-arrow {
        left: 52%;
    }
    .about {
        padding: 80px 0 80px 0;
    }
    .abt-img img {
        width: 100%;
    }
    .abt-bottom {
        margin-top: 40px;
    }
    .single-abt {
        margin-bottom: 28px;
    }
    .filter {
        padding: 80px 0 190px 0;
    }
    .filter-top-shape {
        left: 9%;
    }
    .single-filter-btn img {
        margin-bottom: 18px;
    }
    .single-filter-btn p {
        font-size: 20px;
    }
    .position-shape::before {
        left: 47%;
    }
    .testimonial {
        padding: 80px 0 80px 0;
    }
    .testimonial-title {
        text-align: center;
    }
    .testimonial-title h2 {
        margin-top: 0px;
    }
    .single-testimonial {
        text-align: center;
    }
    .testimonial .slick-prev.pull-left.slick-arrow {
        left: -6%;
        bottom: 45%;
    }
    .testimonial .slick-next.pull-right.slick-arrow {
        left: 102%;
        bottom: 43%;
    }
    .instructor {
        padding: 80px 0 80px 0;
    }
    .instructor .slick-prev.pull-left.slick-arrow {
        left: 43%;
        top: 108%;
    }
    .instructor .slick-next.pull-right.slick-arrow {
        left: 52%;
        top: 108%;
    }
    .newsletter {
        padding: 90px 0 0 0;
    }
    .inner-newsletter {
        padding: 50px 0 60px 0;
        background-size: cover;
    }
    .newsletter-heading-white {
        padding: 0 30px 0 30px;
    }
    .left-space {
        padding-left: 16px;
    }
    .form-center {
        padding: 0 70px;
    }
    .form-center .small-width {
        width: 100%;
        margin-bottom: 20px;
    }
    .newsletter-btn {
        margin-left: 0px;
        display: inline-block;
    }
    .responsive-btn {
        margin-top: 0px;
    }
    .blog {
        padding: 80px 0 190px 0;
    }
    .footer {
        padding: 80px 0 80px 0;
    }
    .footer-left {
        text-align: center;
    }
    .footer-left p {
        margin-top: 35px;
        padding-right: 0;
    }
    .responsive-margin {
        margin-top: 50px;
    }
    .footer-icon {
        text-align: center;
    }
    .footer-link h5 {
        margin-bottom: 18px;
    }
    .footer-copyright ul li {
        margin-right: 15px;
    }
    .footer-menu p {
        margin-top: 10px;
    }
    /*-------------------------------------------------------------------------------------
    Course 1 inner page
---------------------------------------------------------------------------------------*/
    .course-hero {
        padding: 100px 0;
    }
    .course-input form input {
        width: 50%;
    }
    .nice-select {
        right: 18%;
    }
    .course-input form .position-btn {
        right: 36%;
        top: 115%;
    }
    .nice-select {
        right: 2%;
        width: 23%;
    }
    .responsive-margin-bottom {
        margin-bottom: 30px;
    }
    /*-------------------------------------------------------------------------------------
    Course 2 inner page
---------------------------------------------------------------------------------------*/
    .course-left-search form input {
        padding: 22px 55px;
        border: 2px solid #eaeaea;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 11px;
    }
    .course-left-search .form-search-icon {
        left: 5%;
    }
    .course-left-search .position-btn {
        padding: 17px 11px;
        background: #2878eb;
        display: block;
        text-align: center;
    }
}